*{
    margin: 0;
    padding: 0;
}

.aboutTop{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    border-bottom:1px solid #dedede; 
}
.aboutTop a{
    position: absolute;
    top: 0;
    left: 0;
    color: #333
}
.aboutTop p{
    margin: 0 !important;
    color: #333
}

.about p.loginOut{
    width: 200px;
    height: 50px;
    background-color: orange;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius:5px; 
    margin: 0 auto;
    margin-top: 300px !important;
}