*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    background-color: #f0f3f5;
    height:100%;
}
img{
    display: block;
    width: 100%;
}
.Ty_mall {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding-top:50px;
  padding-bottom: 0 !important;
}
.Ty_main {
  width: 100%;
  height: 100%;
  background-color:#fff !important;
  overflow: hidden;
  position: relative;
}
.Ty_header {
  width: 100%;
  height:50px;
  background-color: #fff;
  position: absolute;
  top: 0;
}






.back{
    width: 100%;
    background-color: #fff;
    position: relative;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.back a{
    position: absolute;
    left: 0;
    top: 0;
    color: #333
}
.back input{
    width: 300px;
    height: 35px;
    border-radius:30px; 
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}
.tabNavs{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding-top: 10px;
}
.tabNavs a{
    float: left;
    width: 25%;
    text-align: center;
    color: #333;
}
.tabNavs a.now{
   color: orange;
}
#goodList{
    overflow: hidden;
}
#goodList a{
    width: 100%;
    background-color: #fff;
    padding: 0.3rem;
    overflow: hidden;
    display: block;
}
#goodList a img{
    width: 2.3rem;
    height:2.3rem;
    float: left;
    border-radius:5px; 
}
#goodList a p.title{
    font-size: 0.35rem;
    color: #000;
    width:6.5rem;
    padding-left: 0.2rem;
    float: left;
    margin-top: 0.2rem;
}
#goodList span.price{
    color: #f23030;
    float: left;
    margin-left: 0.2rem;
}
