<!DOCTYPE html>
<html lang="zh-CN" style="touch-action: none">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>我的订单</title>
  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <link rel="stylesheet" href="css/myOder.css">
</head>
<body>

<div class="Ty_mall">
  
  <div class="Ty_header">
        <a class="icon_left" href="javascript:history.go(-1);"><span class="mui-icon mui-icon-arrowleft" style=" color: #333"></span></a>
        <span style="margin-top:15px;display: block;">我的订单<span>
        <div class="orderList">
            <ul class="mui-clearfix">
              <li class="now one">全部</li>
              <li class="two">待付款</li>
              <li class="three">待发货</li>
              <li class="four">待收货</li>
              <li class="five">已完成</li>
            </ul>
            <!-- <div class="orange"></div> -->
        </div>
  </div>
  <div class="Ty_main">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
             <div class="loading"></div>
               <!-- 全部 -->
              <div class="all">
                  <!-- 模板 -->
              </div>
              <!-- 待付款 -->
              <div class="payment" style="display:none">
                  
              </div>
              <!-- 待发货 -->
              <div class="delivery_good" style="display:none">
                   
              </div>
              <!-- 待收货 -->
              <div class="collect" style="display:none">
                 
              </div>
              <!-- 待评价 -->
              <div class="evaluate" style="display:none" >
                 
              </div>
            </div>
        </div>
  </div>
  
</div>
    <!-- 全部 -->
    <script type="text/html" id="tpl_all">
        {{if allList.length == 0}}
            <p style="position:absolute;top:3.5rem;left:40%">暂时没有订单</p>
            <a href="index.html" style="position:absolute;top:4.5rem;left:45%;color:#333;border:1px solid #dedede;width:50px;text-align:center">去逛逛</a>
        {{/if}}
        {{each allList v i}}
            {{if v.status == 0}}
                <div class="content" data-id="{{v.id}}">
                    <span class="mall">天医商城</span>
                    <span class="status pull-right">{{v.pay_type}}</span>
                    {{each v.order_info v i}}
                    <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                        <img src="" alt="">
                        <p class="goods"></p>
                        <span class="price">&yen;{{v.price}}</span>
                        <span class="pull-right" style="margin-left:5.5rem;margin-top:1rem">x{{v.num}}</span>
                    </div>
                    {{/each}}
                    <p class="numb">共{{v.num}}件商品 合计：&yen;{{v.sum_price}}</p>
                    <span class="pay">付款</span>
                    <span class="delete" data-id="{{v.id}}">取消订单</span>
                </div>
            {{/if}}
            {{if v.status == 1}}
                <div class="content" data-id="{{v.id}}">
                    <span class="mall">天医商城</span>
                    <span class="status pull-right">{{v.pay_type}}</span>
                    {{each v.order_info v i}}
                    <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                        <img src="" alt="">
                        <p class="goods"></p>
                        <span class="price">&yen;{{v.price}}</span>
                        <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                    </div>
                    {{/each}}
                    <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
                </div>
           {{/if}}
           {{if v.status == 2}}
                <div class="content" data-id="{{v.id}}">
                    <span class="mall">天医商城</span>
                    <span class="status pull-right">{{v.pay_type}}</span>
                    {{each v.order_info v i}}
                    <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                        <img src="" alt="">
                        <p class="goods"></p>
                        <span class="price">&yen;{{v.price}}</span>
                        <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                    </div>
                    {{/each}}
                    <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
                    <span class="wuliu" data-id="{{v.id}}">查看物流</span>
                </div>
           {{/if}}
           {{if v.status == 3}}
                <div class="content" data-id="{{v.id}}">
                    <span class="mall">天医商城</span>
                    <span class="status pull-right">{{v.pay_type}}</span>
                    {{each v.order_info v i}}
                    <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                        <img src="" alt="">
                        <p class="goods"></p>
                        <span class="price">&yen;{{v.price}}</span>
                        <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                    </div>
                    {{/each}}
                    <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
                </div>
           {{/if}}
        {{/each}}
    </script>
    <!-- 待付款 -->
    <script type="text/html" id="tpl_payment">
        {{if list.length == 0}}
            <p style="position:absolute;top:3.5rem;left:40%">暂时没有订单</p>
            <a href="index.html" style="position:absolute;top:4.5rem;left:45%;color:#333;border:1px solid #dedede;width:50px;text-align:center">去逛逛</a>
        {{/if}}
        {{each list v i}}
          {{if v.status == 0}}
            <div class="content" data-id="{{v.id}}">
                <span class="mall">天医商城</span>
                <span class="status pull-right">{{v.pay_type}}</span>
                {{each v.order_info v i}}
                <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                    <img src="{{v.product.image1}}" alt="">
                    <p class="goods">{{v.product.title}}</p>
                    <span class="price">&yen;{{v.price}}</span>
                    <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                </div>
                {{/each}}
                <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
                <span class="pay">付款</span>
                <span class="delete" data-id="{{v.id}}">取消订单</span>
            </div>
          {{/if}}
        {{/each}}
    </script>
    <!-- 待发货 -->
    <script type="text/html" id="tpl_delivery_good">
        {{if row.length == 0}}
            <p style="position:absolute;top:3.5rem;left:40%">暂时没有订单</p>
            <a href="index.html" style="position:absolute;top:4.5rem;left:45%;color:#333;border:1px solid #dedede;width:50px;text-align:center">去逛逛</a>
         {{/if}}
         {{each row v i}}
         {{if v.status == 1}}
            <div class="content" data-id="{{v.id}}">
                <span class="mall">天医商城</span>
                <span class="status pull-right">{{v.pay_type}}</span>
                {{each v.order_info v i}}
                <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                    <img src="{{v.product.image1}}" alt="">
                    <p class="goods">{{v.product.title}}</p>
                    <span class="price">&yen;{{v.price}}</span>
                    <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                </div>
                {{/each}}
                <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
            </div>
            {{/if}}
         {{/each}}
    </script>
    <!-- 待收货 -->
    <script type="text/html" id="tpl_collect">
         {{if info.length == 0}}
           <p style="position:absolute;top:3.5rem;left:40%">暂时没有订单</p>
           <a href="index.html" style="position:absolute;top:4.5rem;left:45%;color:#333;border:1px solid #dedede;width:50px;text-align:center">去逛逛</a>
         {{/if}}
         {{each info v i}}
            <div class="content" data-id="{{v.id}}">
                <span class="mall">天医商城</span>
                <span class="status pull-right">{{v.pay_type}}</span>
                {{each v.order_info v i}}
                <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                    <img src="{{v.product.image1}}" alt="">
                    <p class="goods">{{v.product.title}}</p>
                    <span class="price">&yen;{{v.price}}</span>
                    <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                </div>
                {{/each}}
                <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
            </div>
         {{/each}}
    </script>
    <!-- 已完成 -->
    <script type="text/html" id="tpl_evaluate">
        {{if elist.length == 0}}
            <p style="position:absolute;top:3.5rem;left:40%">暂时没有订单</p>
            <a href="index.html" style="position:absolute;top:4.5rem;left:45%;color:#333;border:1px solid #dedede;width:50px;text-align:center">去逛逛</a>
        {{/if}}
        {{each elist v i}}
            <div class="content" data-id="{{v.id}}">
                <span class="mall">天医商城</span>
                <span class="status pull-right">{{v.pay_type}}</span>
                {{each v.order_info v i}}
                <div style="margin-bottom:30px;overflow: hidden;" class="goodTotal">
                    <img src="{{v.product.image1}}" alt="">
                    <p class="goods">{{v.product.title}}</p>
                    <span class="price">&yen;{{v.price}}</span>
                    <span class="pull-right" style="margin-left:5.5rem;">x{{v.num}}</span>
                </div>
                {{/each}}
                <p class="numb">共1件商品 合计：&yen;{{v.sum_price}}</p>
            </div>
     {{/each}}
    </script>  
</body>
<script src="lib/mui/js/mui.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/lib-flexible/flexible.js"></script>
<script src="js/common.js"></script>
<script src="js/myOder.js"></script>
</html>